.landing {
    height: 300px;
    width: 40%;
    border:  #00a4d3 solid 3px;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 50px;
    margin-bottom: 30px;
}