$primary-color: #00a4d3;
$body-bg: #eee;
$dark: #f6fcfe;
$white: #fff;
$main-background: $white;
$primary-blue: #00a4d3;
$border-color: #7a7a7a;

//text color
$default-gray: #606060;
$light-gray: #d0d0d0;
