@import '../assets/variables/colors.scss';
@import '../assets/variables/font.scss';

.footer-body {
  border-top: 1px solid $light-gray;
  width: 100%;

  .footer-section {
    display: flex;
    justify-content: center;

    span {
      color: $default-gray;
      font-family: $source-san-font;
      font-weight: 100;
      margin-bottom: 20px;
      margin-top: -5px;
    }
  }
}

