@import './commons/assets/variables/font.scss';
@import '././commons/assets/variables/colors.scss';
@import '~bootstrap/scss/bootstrap';

h1 {
 color: $primary-color;
 font-family: $lato-font;
 font-weight:100;
}

body {
 background-color: $main-background;
}