@import '../../../commons/assets/variables/font.scss';
@import '../../../commons/assets/variables/colors.scss';

.container {
  margin:20px auto;

  h1 {
    color: $primary-color;
    font-family: $lato-font;
    font-weight: 100;
    font-size: 24px;
  }

  .form {
    min-height: 250px;
    width: 544px;
    border: $border-color solid 1px;
    text-align: center;
    margin: 20px auto auto auto;
  }

  .heading {
    width: 387px;
    height: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    opacity: 99%;
  }

  .form input, button {
    width: 294px;
    height: 38px;
    margin: 10px auto;

  }
  .email {
    margin-top: 30px;
  }
  .form button {
    margin-top: 20px;
    background-color: $primary-color;
    text-align: center;
    color: $white;
    font-weight: 100;
    font-family: $lato-font;
  }

  ::placeholder{
    color: $default-gray;
    font-family: $source-san-font;
    padding-left: 10px;
    font-size: 14px;
  }

  .note{
    width: 300px;
    height: 46px;
    margin: 20px auto;
    color: #000000;
    font-family: $source-san-font;
    font-weight: 1000;
    font-size: 18px;

  }

  }

  .errors{
    color: red;
    text-align: "center";
  }

  .success{
    color: green;
    text-align: "center";
  }